*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: black;
}


.container{
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid gray;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, .7);
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0.5em;
  text-align: left;
}

li {
  margin-bottom: 0.35em;
}

.firstContainer{
  display:flex;
  align-items: center;
  width: 85%;
}

.secondContainer{
  width: 15%;
  text-align: right;
}

p {
  margin: 0;
  display: inline-block;
  word-wrap: break-word;
}

input[type=checkbox],
button{
  cursor: pointer;
}


#listItem {
  width:75%;
  height: 29px;
  font-size: 14px;
  border-radius: 5px;
  border-color: transparent;
  background-color: lightgray;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  transition: 0.25s;

}

#listItem:focus{
  background-color: white;
  border: 0.5px gray solid;
  outline: none;
}



#addList{
  padding: 7.5px 22.5px;
  transition: 0.1s;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
}

#addList:focus{
  outline: none;
}

#addList:active{
  transform:scale(0.9);
  box-shadow: inset 10px 10px black;

}


.todoStyle{
  display: flex;
  justify-content: space-between;
}

.changeInput {
  border-radius: 5px;
  width:80%;
  height: 29px;
  font-size: 14px;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.changeInput::placeholder{
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.completed{
  padding: 0.5px 3.5px;
}

.deleteButton{
  background-color: firebrick;
  border-radius: 5px;
  padding: 1px 4px;
  color: white;
}

.deleteButton:disabled{
  background-color: rgba(70,13,13,0.15);
}

.changeButton,
.submitButton,
.cancelButton{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.changeButton:disabled{
  background-color: darkgray;
}


.globalButtons button{
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.checkAll{
  background-color: forestgreen;
  color: white;
}

.deleteAll{
  background-color: firebrick;
  color: white;
}





@media (min-width: 30em){
  .container{
    width:90%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 37em){
  .container{
    width: 85%;
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media (min-width: 48em){
  .container{
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 54em){
  .container{
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
  }
}


@media (min-width: 65em){
  .container{
    width: 55%;
    padding-left: 75px;
    padding-right: 75px;
  }
}
