@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

*{
  box-sizing: border-box;
}

h1{
  font-family: 'Vollkorn', serif;
  font-size: 2.35rem;
  margin-top: 0.5rem;
}

body{
  font-family: 'Vollkorn', serif;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1523958399470-c15bf82fcea9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=24bc33ab52ef2dc36a177c25c24da122&auto=format&fit=crop&w=1013&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.container{
  background-color: #F3F6F8;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#time{
  text-align: right;
  margin-top: 0.75rem;
  font-size: 1.25rem;
}

.userInput{
  width: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0.5em;
  text-align: left;
}

@keyframes slide-down{
  0%{
    top: -5px;
  }
  50%{
    top: 5px;
  }
  75%{
    top: -5px;
  }
  100%{
    top: 0px;
  }
}



.firstContainer{
  display:flex;
  align-items: center;
  width: 85%;
}

label{
  cursor: pointer;
}

input[type="checkBox"]{
  display:none;
}

input[type="checkBox"] + .label-text:before{
  content: "\f096";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  display: inline-block;
  margin-top: 0.4rem;
  font-size: 1.1em;
}

input[type="checkBox"]:checked + .label-text:before{
  content: "\f14a";
  font-family: "FontAwesome";
  color: black !important;
  animation-name: checked;
  animation-duration: 200ms;

}

@keyframes checked{
  0%{
    transform: scale(0);
  }

  90&{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

.secondContainer{
  width: 15%;
  text-align: right;
}



.secondContainer button{
  margin-right: 5px;
  border: rgba(0,0,0,0.5) solid 0.5px;
  border-radius: 3px;
  background-color: #F3F6F8;
}


.secondContainer button:active,
.secondContainer button:focus{
  outline: none;
}

.secondContainer button:active{
  transform:scale(0.9);
  box-shadow: inset 2px 2px 2px black;
}

p {
  margin: 0;
  padding-left: 10px;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  width: 90%;
}

button{
  cursor: pointer;
}

.checkBox{
  margin: 5px;

}


#listItem {
  width:75%;
  height: 29px;
  font-size: 14px;
  border-radius: 5px;
  border-color: transparent;
  background-color: lightgray;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  transition: 0.25s;

}

#listItem:focus{
  background-color: white;
  border: 0.5px gray solid;
  outline: none;
}



#addList{
  padding: 7.5px 22.5px;
  transition: 0.1s;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  animation-name: bounce;
  animation-duration: 1s;
  position: relative;
}

@keyframes bounce{
  0%{
    top: 0px;
  }
  25%{
    top: -10px;
  }
  50%{
    top: 0px;
  }
  75%{
    top: -10px;
  }
  100%{
    top: 0px;
  }

}

#addList:focus{
  outline: none;
}

#addList:active{
  transform:scale(0.9);
  box-shadow: inset 2px 2px 2px black;

}


.todoStyle{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  animation-name: slide-down;
  animation-duration: 0.3s;
  position: relative;
  animation-timing-function: ease-out;
}



.changeInput {
  border-radius: 5px;
  width:100%;
  height: 29px;
  font-size: 14px;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: 0.5px gray solid;
}

.deleteButton{
  color: firebrick;
  font-weight: bold;
}


.globalButtons{
  padding-top: 10px;
}

.globalButtons button{
  display:inline-block;
  padding: 7px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  font-size: 8pt;
}

.globalButtons button:hover{
  transition: 0.5s;
  transform: translate(0,-3px);
}

.globalButtons button:active{
  transition: 1s;
  transform:scale(0.9);
  box-shadow: inset 2px 2px 2px black;
}

#displayItems{
 background: black;
}

 .checkAll{
  background-color: forestgreen;
  color: white;
}

 .deleteAll{
  background-color: firebrick;
  color: white;
}

.clearAllChecked{
  background: dodgerblue;
}


@media (max-width: 29.5em){
  .firstContainer{
    width: 75%;
  }
  .secondContainer{
    width: 25%;
  }
}

@media (min-width: 30em){
  .container{
    width:90%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 37em){
  .container{
    width: 85%;
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media (min-width: 48em){
  .container{
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 54em){
  .container{
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
  }
}


@media (min-width: 65em){
  .container{
    width: 60%;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 75em){
    .container{
      width: 55%;
      padding-left: 70px;
      padding-right: 70px;
    }
}
