*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: black;
}


.container{
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0.5px solid lightgray;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.userInput{
  width: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0.5em;
  text-align: left;
}

li {
  margin-bottom: 0.35em;
}

.firstContainer{
  display:flex;
  align-items: center;
  width: 80%;
}

.secondContainer{
  width: 20%;
  text-align: right;
}

.secondContainer button{
  margin-right: 5px;
  border: rgba(0,0,0,0.5) solid 0.5px;
  border-radius: 3px;
}

.secondContainer button:active,
.secondContainer button:focus{
  outline: none;
}

.secondContainer button:active{
  transform:scale(0.9);
  box-shadow: inset 2px 2px 2px black;
}

p {
  margin: 0;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
}

input[type=checkbox],
button{
  cursor: pointer;
}

input[type=checkbox]{
  margin: 5px;
}


#listItem {
  width:75%;
  height: 29px;
  font-size: 14px;
  border-radius: 5px;
  border-color: transparent;
  background-color: lightgray;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  transition: 0.25s;

}

#listItem:focus{
  background-color: white;
  border: 0.5px gray solid;
  outline: none;
}



#addList{
  padding: 7.5px 22.5px;
  transition: 0.1s;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
}

#addList:focus{
  outline: none;
}

#addList:active{
  transform:scale(0.9);
  box-shadow: inset 2px 2px 2px black;

}


.todoStyle{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.changeInput {
  border-radius: 5px;
  width:100%;
  height: 29px;
  font-size: 14px;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: 0.5px gray solid;
}


.globalButtons{
  padding-top: 10px;
}

.globalButtons button{
  display:inline-block;
  padding: 7px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  font-size: 8pt;
}

.globalButtons button:hover{
  transition: 0.5s;
  transform: translate(0,-3px);
}

.globalButtons button:active{
  transition: 0.5s;
  transform:scale(0.9);
  box-shadow: inset 2px 2px 2px black;
}

#displayItems{
 background: black;
}

 .checkAll{
  background-color: forestgreen;
  color: white;
}

 .deleteAll{
  background-color: firebrick;
  color: white;
}

.clearAllChecked{
  background: dodgerblue;
}


@media (min-width: 30em){
  .container{
    width:90%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 37em){
  .container{
    width: 85%;
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media (min-width: 48em){
  .container{
    width: 80%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 54em){
  .container{
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
  }
}


@media (min-width: 65em){
  .container{
    width: 60%;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 75em){
    .container{
      width: 55%;
      padding-left: 70px;
      padding-right: 70px;
    }
}
